:root{
    --branding-color:#E8CEBF;
    --second-color:#4F4846;
    --heading-font-family:'Arvo', serif;
    --body-font-family:'Lato', sans-serif;

}

body{
    font-family: var(--body-font-family);
    background-color: #FDF8F5;
}

h1,
h2,
h3 {
    font-weight:bold;
    font-family:var(--heading-font-family);
}

h1 {
    font-size: 96px;
    line-height: 1.5;
}

h2 {
    font-size: 64px;
}

.hero h2 {
    font-size: 24px;
    font-weight: normal;
    line-height: 1.5;
}

.hero {
    background-color: var(--branding-color);
    font-family: var(--heading-font-family);
    color: var(--second-color);
    text-align: center;
    padding: 160px 20px;

}

.hero p {
    font-size: 36px;
    font-weight: bold;
    margin: 0 auto;
}

p {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}

.featured-projects {
    font-size: 44px;
}

.branding { 
    background-color:#266150;
    color: #FDF8F5;
    border-radius: 4px;
    text-decoration: none;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    margin:25px;
}

.branding:hover {
    color: var(--branding-color);
}

.outline {
    background-color: #FDF8F5; 
    color: #266150;
    border-radius: 4px;
    border:1px solid #266150;
    text-decoration: none;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    margin: 0 auto;
}

.project-description {
    padding: 120px 60px;
}

.content-container {
    padding: 160px 20px;
}

.content h1 {
    font-size: 64px;
    line-height: 80px;
}

.content h2 {
    font-size: 20px;
    line-height: 1.5;
}

.content {
    margin: 30px;
}

.content h3 {
    font-size: 24px;
    line-height: 1.5;
}

.content p {
    font-size: 14px;
}

.logo {
    max-height: 100px;
}

nav {
    padding: 20px 0;
}

nav ul {
    padding:0;
    margin: 0;
}

nav li {
    display: inline;
    list-style: none;
    line-height: 40px;
    margin-left: 15px;
}

nav a {
text-decoration: none;
color:#266150;
transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
    color: #E8CEBF;
}

@media (max-width: 900px) 
{
    .project-description {
        padding:0;
        text-align: center;
    }

    h1 {
        font-size:44px;
        line-height: 2;
    }

    h2 {
        font-size:40px;
    }

    .hero {
        padding:80px 20px;
    }
    
    .content {
        text-align: center;
        padding: 0;
    }
}